* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitoregular.woff");
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitobold.woff");
    font-weight: bold;
}

body {
    font-family: Nunito, sans-serif;
}
                                                  /* SIDEBAR */
.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: linear-gradient(100deg, #4E73DF 0%, #224ABE 100%);
    flex-shrink: 0;
}

.logo {
    padding: 20px 0;
    text-align: center;
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation-item.active a,
.navigation-item a:hover
{
    background: rgba(0, 0, 0, 0.57);
}

.navigation-item a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 16px 20px;
}

.navigation-item a span {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    margin-left: 10px;
}
.content {
    flex-grow: 1;
}
                                                 /* HEADER */
.header {
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 #00000040;
    padding: 19px 20px 18px 20px;
    display: flex;
    justify-content: space-between;
}

.header-search {
    display: flex;
    position: relative;
}

.header-search-input {
    border-radius: 5px 0 0 5px;
    background: #F8F9FC;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    border: 0;
    padding: 7px 10px;
    outline: none;
}

.header-search-input::placeholder {
    color: #B3B3B3;
}

.header-search-button {
    border-radius: 0 5px 5px 0;
    background: #4B70DC;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 33px;
    cursor: pointer;
}

.header-info {
    display: flex;
}

.header-info-actions {
    display: flex;
    align-items: center;
    padding-right: 3px;
    border-right: 1px solid #B3B3B3;
}

.header-info-actions svg {
    margin-right: 17px;
}

.header-info-user {
    display: flex;
    align-items: center;
}

.header-info-user span {
    font-size: 14px;
    line-height: 19px;
    color: #858796;
    margin-right: 10px;
    margin-left: 20px;
}

.header-info-user-image {
    width: 34px;
    height: 34px;
    background-image: url("../images/user.png");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
                                           /* MAIN */
.container {
    padding: 20px;
}

.block {
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 #00000040;
    margin: 20px;
}

.block-title {
    color: #3D63D2;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    padding: 18px 20px 19px 20px;
    border-radius: 5px 5px 0 0;
    background: #F8F9FC;

}

.block-content {
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #858796;
}

.commentators .block-title {
    text-align: center;
}

.commentators .block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 49px 0 30px 0;
}

.commentator {
    margin: 0 40px;
    text-align: center;
}

.main-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-items .block {
    max-width: 364px;
}

                                          /* SEARCH RESULT */
.header-search-result {
    display: none;
    position: absolute;
    box-shadow: 0 5px 10px 0 #00000040;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    top: 40px;
}

.header-search-result-item {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: #000000;
    border-bottom: 1px solid #EBEBEB;
}

.header-search-result-item:last-child {
    border-bottom: 0;
}

.header-search:hover .header-search-result {
    display: block;
}

